
<%= form_with(model: [ @course, @course.students.build ], local: true) do |form| %>
    <p>
      <%= form.label :student_name %><br>
      <%= form.text_field :student_name %>
    </p>
    <p>
      <%= form.label :city %><br>
      <%= form.text_field :city %>
    </p>

    <p>
      <%= form.label :age %><br>
      <%= form.text_field :age %>
    </p>
    <p>
      <%= form.submit %>
    </p>
  <% end %>