
<% flash.each do |type, msg| %>
  <div>
    <%= msg %>
  </div>
<% end %>

<p>
<strong>Course ID:</strong>
<%= @course.id %>
</p>
<p>
<strong>Course Name:</strong>
<%= @course.course_name %>
</p>

<p>
<strong>Duration:</strong>
<%= @course.duration %>
</p>

<p>
<strong>Subjects:</strong>
<%= @course.subjects %>
</p>
<p>
<strong>created time</strong>
<%= @course.created_at %>
</p>
<hr/>
<h2>Students</h2>

<table>
  <tr>

    <th>Student Name</th>
  </tr>
 
  <% @course.students.each do |student| %>
    <tr>
      <td><%= student.student_name %></td>
      <td><button> <%= link_to 'more details ....', course_student_path(@course , student.id)  %> </button></td> 
    </tr>
  <% end %>
</table>



<button> <%= link_to 'Add new student ', new_course_student_path(@course.id) %> </button>
<hr/>
<button> <%= link_to 'Back', courses_path %> </button>
<button> <%= link_to 'Edit', edit_course_path(@course) %> </button>
